<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:limve.app.link</string>
		<string>applinks:limve-alternate.app.link</string>
		<string>applinks:limve.test-app.link</string>
		<string>applinks:limve-alternative.test-app.link</string>
	</array>
	<key>com.apple.developer.user-fonts</key>
	<array>
		<string>app-usage</string>
		<string>system-installation</string>
	</array>
</dict>
</plist>
